@media screen and (max-width:576px) {

    .navbar-main {

        display: flex;
        flex-direction: row;
        height: auto;



    }

    .nav-hamburger-menu {
        display: block;

    }

    .nav-button-container {
        display: none;
    }


    .banner-section {
        flex-direction: column;
        height: auto;

    }

 
    .banner-content {
      
        margin-top: 100px;
    
   
    }

    .btn-primary {
        color: rgb(255, 255, 255);
        font-size: 18px;
        font-weight: 600;
        line-height: 22px;
        letter-spacing: 0px;
        text-align: center;
        border-radius: 42px;
        /* background: rgb(230, 83, 60); */
        padding: 16px 40px 16px 40px;
        margin: 0px 10px;
        /* border: 2px dotted red; */
    }
    .banner-content-btn {

        margin: 5px 5px;
        /* border: 2px solid greenyellow; */
        display: flex;
        flex-direction: row;
    }


    .btn-primary {
        font-size: 16px;
        padding: 14px 30px;
        margin: 5px 5px;
    }


    .Change-Your-Habits-Image {
        flex-direction: column;
        width: auto;
        height: auto;
        margin-bottom: 10px;
    }

    .row-1,
    .row-2 {
        flex-direction: column;

        align-items: center;
    }

    .row-1 .first-Image img {
        width: 400px;
        height: 272px;
        border-radius: 18px;
        box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.2);
        background: #1a1a1a;
        padding: 10px;
        text-align: center;
        margin-bottom: 20px;

    }

    .footer-container {
        /* flex-direction: column; */
    }

    .BMI-Calculator-Chart {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .BMI-Calculator-from {
        text-align: center;
        margin-top: 20px;
        
    }
    .BMI-Calculator-from input[type=text]
{
    text-align: center;
}

#frm-heading{
    text-align: center;
    }
    #frm-desc{
        text-align: center;
    }
    

    .Run-Extra-Mile-Easily {
        width: auto;
        height: auto;
        border-radius: 18px;
        display: flex;
        flex-direction: column;
        background-color: #222222;
        text-align: center;
    }
.Meet-Our-Team{
    margin-top: 20px;
}


    .BMI-Calculator-Chart {
        width: auto;
        height: auto;
        margin: 0 auto;
        margin-top: 20px;
        background-color: #222222;
        display: flex;
        flex-direction: column;
        padding-top: 50PX;
        justify-content: space-evenly;
        justify-content: center;
        align-items: center;

    }


    .BMI-Calculator-from h5 {
        font-size: 14px;
        margin: 6px;
    }
    

    .footer-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    #footerhr{
       
       margin-top: 5px;
    }
    #footerdv {
        margin-top: 5px;
    }
    #footerdv p{
  
        margin-top: auto;
       
    }

    
.BMI-Calculator-from input[type=text]
{
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    width: 50%;
    height: 40px;
    align-items: center;
    padding: 12px 40px 12px 20px;
    border: none;
    margin-left: 10px;

   
    
}


.BMI-Calculator-from
{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 100px;

}
#lastDv
{
    width: 100%;
}
#selectoption 
{
    
    width: 50%;
    
   
}


.BMI-Calculator-from input[type=text]
{
    margin-left: 5px;
    text-align: left;

   
}


}